
@{
    ViewBag.Title = "Referanslarımız";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="~/Content/images/breadcrumbs/bg1.jpg" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text">
                    <h1 class="breadcrumbs-title">Referanslarımız</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Shope Start -->
<div id="rs-shop" class="rs-shop pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                <div class="product-grid">
                    <div class="shop-item">
                        <img src="~/Content/images/shop/1.jpg" alt="Product Image">
                        <div class="icon-area">
                            <ul>
                                <li><a class="image-popup" href="~/Content/images/shop/1.jpg"><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="shop-content">
                        <h4 class="title">Referans Marka</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shope End -->
